{% extends "layout.html" %}
{% block content %}
   <div class="about">
       <h2>Hi, I am Thomas</h2>
       <!--Insert picture of myself here-->
       <img src="Pictures/Capture.JPG" alt="Picture of me" title="Picture of Thomas Rasmussen"/>
       <h3>I am 22 years old, and I am currently studying IT-Technology at UCL Odense and working for Viggos as a bartender.
         Before starting at UCL, I spent around 9 months traveling around Australia, New Zealand,
         and Japan where I learned about myself and different cultures and people</h3>
   </div>
{% endblock %}