{% extends "layout.html" %}
{% block content %}
   <div class="contact">
     <h2>Contact information:</h2>
     <h3>Tlf: 20215929</h3>
     <h3><a href="https://www.linkedin.com/in/thomas-rasmussen-74574b194/">LinkedIn profile</a> </h3>
     <h3>thomasrasmussen2@gmail.com</h3>
   </div>
{% endblock %}