{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h2> A Python project</h2>
    <h3> Made this website as part of a project in Extended programming where I got a better grasp on coding concepts such as O.O.P. and S.O.L.I.D.</h3>
  </div>
{% endblock %}