<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/test_15.css') }}">
    </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Thomas' Portfolio</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('portfolio') }}">Portfolio</a> </li>
            <li><a href="{{ url_for('contact') }}">Contact</a> </li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>