{% extends "layout.html" %}
{% block content %}
  <div class="portfolio">
    <h2>IT Projects:</h2>
    <h3><a href="https://gitlab.com/Sambakongen/extended_programming/-/tree/master/Project">This website</a> </h3>
    <!--Give proper name to projects, maybe clickable pictures -->
    <h3><a href="https://gitlab.com/20a-itt3-pcb-students-group/itt3-pcb-thomas">PCB</a></h3>
    <h3><a href="https://gitlab.com/runetoftlund/itt1_unmanned_sub_g5">1. Semester</a></h3>
    <h3><a href="https://gitlab.com/20s-itt-dm-project/group_2">2. Semester</a></h3>
    <h3><a href="https://gitlab.com/vleppo_IT-tech/group_1">3. Semester</a></h3>
  </div>
{% endblock %}